# platform = multi_platform_all
describe command('update-crypto-policies --show') do
  its('stdout.strip') { should match(/^{{{ BASE_POLICY }}}/) }
end
{{% for sub_policy in SUB_POLICIES %}}
{{% if "scope" in sub_policy and sub_policy["scope"] == "ssh" %}}
describe file('/etc/crypto-policies/back-ends/opensshserver.config') do
  its('content') { should match(/{{{ sub_policy["value"] }}}/) }
end
{{% elif "scope" in sub_policy and sub_policy["scope"] == "tls" %}}
describe file('/etc/crypto-policies/back-ends/gnutls.config') do
  its('content') { should match(/{{{ sub_policy["value"] }}}/) }
end
{{% endif %}}
{{% endfor %}}
