# platform = multi_platform_all
['b32', 'b64'].each do |arch|
  describe auditd.syscall('{{{ SYSCALL }}}').where { arch == arch } do
    its('action.uniq') { should eq ['always'] }
    its('list.uniq') { should eq ['exit'] }
  end
end
