# platform = multi_platform_all
{{%- if VARIABLE_NAME %}}
describe command('grep -rh "^Defaults.*{{{ OPTION }}}=" /etc/sudoers /etc/sudoers.d/ 2>/dev/null') do
  its('stdout') { should match(/Defaults.*{{{ OPTION }}}={{{ VALUE }}}/) }
end
{{%- else %}}
describe command('grep -rh "^Defaults.*{{{ OPTION }}}" /etc/sudoers /etc/sudoers.d/ 2>/dev/null') do
  its('stdout') { should match(/Defaults.*{{{ OPTION }}}/) }
end
{{%- endif %}}
