# platform = multi_platform_all
{{% for path in FILEPATH %}}
{{%- if IS_DIRECTORY and FILE_REGEX %}}
command('find {{{ path }}} -maxdepth 1 -type f -regextype posix-extended -regex "{{{ FILE_REGEX[loop.index0] }}}"').stdout.strip.split("\n").each do |entry|
  describe file(entry) do
{{%- if GROUP_REPRESENTED_WITH_GID %}}
    its('gid') { should cmp {{{ GID_OR_NAME }}} }
{{%- else %}}
    its('group') { should cmp '{{{ GID_OR_NAME }}}' }
{{%- endif %}}
  end
end
{{%- else %}}
if file('{{{ path }}}').exist?
  describe file('{{{ path }}}') do
{{%- if GROUP_REPRESENTED_WITH_GID %}}
    its('gid') { should cmp {{{ GID_OR_NAME }}} }
{{%- else %}}
    its('group') { should cmp '{{{ GID_OR_NAME }}}' }
{{%- endif %}}
  end
end
{{%- endif %}}
{{% endfor %}}
