# platform = multi_platform_all
{{%- if FILEPATH %}}
{{% for path in FILEPATH %}}
describe file('{{{ path }}}') do
  its('content') { should match(/^\s*{{{ PARAMETER }}}={{{ VALUE }}}/) }
end
{{% endfor %}}
{{%- else %}}
describe file('/etc/security/limits.conf') do
  its('content') { should match(/^\s*{{{ PARAMETER }}}={{{ VALUE }}}/) }
end
{{%- endif %}}
